.offline {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 80%;
  margin: auto;
}

.offline h2 {
  font-size: 25px;
}

.offline h3 {
  font-size: 20px;
  font-weight: 200;
}

.btn-home {
  background-color: #01A9B4;
  color: white;
  transition: .2s;
  font-size: 25px;
}

.btn-home:active {
  background-color: #00727a;
  color: white;
  transition: .2s;

}